<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul class="navbar-nav">
    <li class="nav-item navbar-text">
    <li class="nav-item dropdown navbar-text">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">Stars</a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href={{ url_for('five_stars') }}>5 Stars</a></li>
            <li><a class="dropdown-item" href={{ url_for('four_stars') }}>4 Stars</a></li>
            <li><a class="dropdown-item" href={{ url_for('three_stars') }}>3 Stars</a></li>
            <li><a class="dropdown-item" href={{ url_for('two_stars') }}>2 Stars</a></li>
            <li><a class="dropdown-item" href={{ url_for('one_stars') }}>1 Star</a></li>
        </ul>
    </li>
</ul>



</body>

<body>

<br>
<br>
<p id="parrot" style="color:black">
</p>
<p id="bara" style="color:black">
</p>
<p id="fara" style="color:black">
</p>
<p id="cara" style="color:black">
</p>
<p id="para" style="color:black">
</p>
</body>
<script>
    if (typeof(Storage) != "undefined")
        document.getElementById("parrot").innerHTML = "FIVE STAR : " + localStorage.getItem("lastpost_five_stars");
        document.getElementById("bara").innerHTML = "FOUR STAR : " + localStorage.getItem("lastpost_four_stars");
        document.getElementById("fara").innerHTML = "THREE STAR : " + localStorage.getItem("lastpost_three_stars");
        document.getElementById("cara").innerHTML = "TWO STAR : " + localStorage.getItem("lastpost_two_stars");
        document.getElementById("para").innerHTML = "ONE STAR : " + localStorage.getItem("lastpost_one_stars");
    }
    else {
        document.getElementById("para").innerHTML = "Sorry, your browser does not support Web Storage...";
    }

</script>

</body>


</body>
</html>